.Canvas {
  height: 100%;
  width: 75%;
  padding: 1%;
  box-sizing: border-box;
  background-color: white;
}

.CanvasWrapper {
  box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.267);
  background-color: white;
  width: 100%;
  height: 100%;
}

.Canvas svg {
  cursor: cell;
}

.Canvas svg circle {
  cursor: grab;
}

.Canvas svg circle.grabbing {
  cursor: grabbing;
}

.ClearButton {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: Aquamarine;
  box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.267);
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  cursor: pointer;
  color: black;
  font-weight: bold;
}

@media (max-width: 767.98px) {
  .Canvas {
    width: 100%;
    box-shadow: none;
  }
}
