.ControlPanel {
  width: 25%;
  height: 100%;
  background-color: tomato;
  text-align: left;
  padding: 1%;
  box-sizing: border-box;
}

@media (max-width: 767.98px) {
  .ControlPanel {
    width: 100%;
    min-height: 25%;
    height: auto;
  }
}
